<!DOCTYPE html>
<html lang='en' ng-app='shopular'>
  <head>
    <meta charset="utf-8">
    <title>Shopular</title>

    <link href='/styles.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <h1>Shopular</h1>
    </header>

    <main ng-controller='ItemController as itemCtrl'>
      <h2>Check out our goods!</h2>

      <form name='additem' ng-submit='additem.$valid && itemCtrl.addItem(itemCtrl.newItem)'>
        <input type='text' name='name' placeholder='Item Name' required ng-model='itemCtrl.newItem.name'>
        <input type='price' name='price' placeholder='Price' required ng-model='itemCtrl.newItem.price'>
        <input type='number' name='quantity' placeholder='Quantity' required ng-model='itemCtrl.newItem.quantity'>
        <input type='text' name='color' placeholder='Color' required ng-model='itemCtrl.newItem.color'>
        <input type='price' name='discount' placeholder='Discount' required ng-model='itemCtrl.newItem.discount'>
        <input type='submit' value='Add Item'>
      </form>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Color</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='item in itemCtrl.items | orderBy:"price"'>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.color}}</td>
            <td>{{itemCtrl.finalizePrice(item) | currency:$ }} <img src='/image/saleImg.png' ng-show='item.discount > 0'></td>
          </tr>
        </tbody>
      </table>

    </main>

    <footer>
      <p>Thanks for shopping with us!</p>
    </footer>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
    <script src='/js/shopular.module.js'></script>
    <script src='/js/inventory.controller.js'></script>

  </body>
</html>
